* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}





body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(42deg, rgba(2, 5, 22, 1) 19%, rgba(0, 23, 97, 1) 71%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assurez-vous que le loader est au-dessus du reste du contenu */
}

.load-content {
  text-align: center;
}

.gradient__bg{
  margin-top: 0;
  background-image: url("./assets/images/bg1.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  z-index: 9999; /* Assurez-vous que le loader est au-dessus du reste du contenu */
}







