
.voice__next{
    display: flex;
    vertical-align: middle;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 46px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-sizing: border-box;
    appearance: auto;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(255, 79, 94, 0.2);
    position: relative;
    transition: transfom 0.2s ease;
    
}

.voice__next:active{
    transform: scale(0.96);
}

.voice__next-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice__next:hover {
    background: #ff4f5e;
}

.voice__next .tooltiptext{
    visibility: hidden;
    width: 110px;
    height: 30px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 70%;
    margin-left: -60px;
}

.voice__next .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}

.voice__next:hover .tooltiptext{
    visibility: visible;
}

