.voice__card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 20rem;
    padding: 0.4rem 0.4rem;
    margin: 1.3rem 1rem;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.voice__card p {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #252B48;
    filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.5));
    line-height: 75px;
    text-align: center;
}

