.vertabs__container{
    background-image: url("../../assets/images/hexa.jpg");
        background-size: cover;
        border-radius: 2rem; 
        margin: 0 4rem;
        padding: 0 2rem;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}