.play{
    display: flex;
    vertical-align: middle;
    background-color: #4682A9;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    box-sizing: border-box;
    appearance: auto;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0;
}

.play-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play:hover {
    box-shadow: 0.5em 0px 25px rgb(98, 159, 244), -0.5em 0px 25px rgb(155, 144, 255); 
}

.disabled {
    pointer-events: none; /* Empêche les interactions avec le div */
    opacity: 0.6; /* Opacité réduite pour simuler l'aspect désactivé */
  }
  