.voice__play{
    display: flex;
    vertical-align: middle;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    box-sizing: border-box;
    appearance: auto;
    cursor: pointer;
    box-shadow: 0.4em 0px 25px rgb(136, 209, 241), -0.4em 0px 25px rgb(177, 181, 229);
}

.voice__play-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice__play:hover {
    box-shadow: 0.5em 0px 25px rgb(98, 159, 244), -0.5em 0px 25px rgb(155, 144, 255); 
}

.disabled {
    pointer-events: none; /* Empêche les interactions avec le div */
    opacity: 0.6; /* Opacité réduite pour simuler l'aspect désactivé */
  }
  