* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}


.inside{
  background-color: white;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  padding: 0rem 3rem;
}

.backHome{
  margin-top: 0.5rem;
  cursor: pointer;
}
