.voice__number{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    box-sizing: border-box;
    appearance: auto;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: background-color 1.4s, width 1.4s, height 1.4s, boxShadow 1.4s;
    margin: 1rem 0.3rem;
}


.voice__number p{
    color: black;
    font-size: 7px;
    font-family: var(--font-family);
    transition: color 1.4s;
}

