* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}


.write__main{
        margin: 0 4rem;
}


.write{
        background-image: url("../../assets/images/hexa.jpg");
        background-size: cover;
        border-radius: 2rem;
        padding: 1rem 1rem;
        display: flex;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));    
}

.sp{
    width: 15rem;
    height: 20rem;
    background-color: transparent;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
    padding: 0;
    margin: 6rem 1rem;
}


.write__center{
        display: flex;
        justify-content: center;
        align-items:start;
        margin-top: 3rem;
}

.btn{
        margin: 1em 1rem 0 1em;
}

.audio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        margin-bottom:  8rem;
}

.play-btn{
   margin: 10rem;
}

.l1{
    width: 27vh;
    margin-left: 15rem;
}

.l2{
        width: 27vh;
}

.app-container{
        margin-left: 1rem;
}

.inputTxt{
        display: flex;
        flex-direction: column;
        align-items: self-end;
        white-space: nowrap;
}

.pi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.in{
        margin-top: 3rem;
}

.ico{
        margin-top: 7rem;
}








      

    

    
    