:root {
    --primary-font: Calibri, sans-serif;
    --primary-color: #fff;
    --secondary-color: #78C1F3;
    --border-color: #9BA5B8;
    --loading-color: #164B60;
  }

.aisafa__header {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
}

.aisafa__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
}


.gradient__teny{
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 4rem;
    color: var(--primary-color);
    line-height: 75px;
    letter-spacing: -0.04em;
    margin-bottom: 0.2rem;
    margin-top: 3rem;
}

.txte{
    color:  var(--secondary-color);
}


@keyframes animate {
    0%, 100%
    {
        width: 0;
    }

   70%, 90%
    {
        width: 100%;
        
    }
}


.aisafa__header-content p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #9BA5B8;
    margin-top: 1.5rem;
}

.aisafa__header-content__btn {
    width:60%;
    margin: 4rem 0 1rem 10rem;
    display: flex;
    flex-direction: row;
    transition: width 0.5s;
    transition-timing-function: ease;
}

.aisafa__header-content__btn:hover{
    width: 65%;
}

.aisafa__header-content__btn button {
    flex: 0.6;
    width: 10%;
    min-height: 50px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    padding: 1rem 0;
    position: relative;
    border-radius: 0.7rem;
    transition: transfrom 0.2s ease;
}




.aisafa__header-content__btn button:active{
    transform: scale(0.96);
}


.aisafa__header-content__btn button{
    z-index: 1;
}

aisafa__header-content__btn{
    position: relative;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

.aisafa__header-content__btn button::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.aisafa__header-content__btn button:hover::after {
    opacity: 1;
    top: 24%;
    right: 14%;
}
button:hover aisafa__header-content__btn{
    padding-right: 25px;
}

button:hover aisafa__header-content__btn:after{
    opacity: 1;
    right: 0;
}


.aisafa__header-image {
    flex: 1;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    position: relative;
    padding-top: 4rem;
    
}


.aisafa__header-image img {
    width: 100%;
    height: 100%; 
    margin-bottom: 4.8rem; 
    position: relative;
    object-fit: cover;
    object-position: -257% 300%; 
}

.animation__circuit{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
    padding-left: 24rem;
}

.animation__letter{
    position:absolute;
    width: 50%;
    height: 50%;
    margin-bottom: 50%;
    margin-right: 65%;
}

@media screen and (max-width: 1300px) {
    .aisafa__header-content h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .aisafa__header {
        margin-left: 3rem;
    }

    .aisafa__header-content p {
        font-size: 20px;
    }

    .aisafa__header-image {
        padding-top: 2rem;
        
    }

}

@media screen and (max-width: 770px) {
    .aisafa__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .aisafa__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .aisafa__header-content__people {
        flex-direction: column;
    }

    .aisafa__header-content__people p {
        margin: 0;
    }

    .aisafa__header-content__btn btn,
    .aisafa__header-content__btn button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 550px) {
    .aisafa__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .aisafa__header-content__btn button {
        font-size: 16px;
        line-height: 16px;
    }

    h1{
        font-size: 40px;
        text-align: center;
    }

    .aisafa__header {
        margin-left: 3rem;
    }

    .aisafa__header-content p {
        font-size: 12px;
        padding-left: 3rem;
    }

    .aisafa__header-image {
        padding-top: 2rem;
        
    }
    
    .aisafa__header-image img {
        padding-left: 10rem;

    }
    
    
    .animation__circuit{
        margin-bottom: 1.5rem;
        padding-left: 15rem;
        margin-right: 6rem;
        width: 73%;
    }
    
    .animation__letter{
        margin-right: 23rem;
        margin-bottom: 17rem;
    }

}