.aisafa__navbar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
}

.aisafa__navbar-links {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.aisafa__navbar-links_logo {
    margin-top: 1rem;
    margin-left: 5rem;
}

.aisafa__navbar-links_logo img {
    width: 110px;
    height: 90px;
    margin-bottom: 1rem;
}


@media screen and (max-width: 1300px) {
    .aisafa__navbar-links_logo {
        margin-right: 25rem;
    }
    
    .aisafa__navbar-links_logo img {
        width: 80px;
        height: 70px;
    }
}

@media screen and (max-width: 770px) {

    .aisafa__navbar-links_logo img {
        width: 190px;
        height: 130px;
        margin-bottom: 0;
    }


    .aisafa__navbar-links_logo{
        margin-left: 40%;
    }

}

@media screen and (max-width: 550px) {
    .aisafa__navbar-links_logo img {
        width: 150px;
        height: 110px;
        margin-bottom: 0;
    }


    .aisafa__navbar-links_logo{
        margin-left: 40%;
    }

}